<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
                <!-- jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
                <!-- Latest compiled JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

                <meta name="viewport" content="width=device-width, initial-scale=1">
        
        </head>
        <body>
                <div class="row">
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                                <form action="/index">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block">Главная</button>
                                </form>
                                
                        </div>
                        <div class="col-lg-2">
                                <form action="/admin">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block">Панель управление</button>
                                </form>
                        </div>
                </div>
                <div class="row jumbotron text-center">
                        <h1>Панель управления.</h1> 
                </div>
                <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3 ">
                                <div class="row"><h2>Рассылка</h2></div>
                                <div class="row">
                                        <form action="/spam" method='POST'>
                                                <div class="form-group">
                                                        <label for="address">Регион проживания</label>
                                                        <select required class="form-control" id="address" name="address"></select>
                                                </div>
                                                <script>
                                                        var addresses=["Все города","Москва","Санкт-Петербург","Регионы"];
                                                        var address = document.getElementById("address");
                                                        for (var i=0;i<4;i++){
                                                                address.appendChild(new Option(addresses[i],addresses[i]));
                                                        }
                                                </script>
                                                <button type="submit" class="btn btn-primary btn-block">Общая рассылка</button>
                                        </form>  
                                        
                                        
                                </div>  
                        </br>
                                <div class="row">
                                        <form action="/send_one" method='POST'>
                                                <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input type="text" class="form-control" id="email" name="email">
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-block">Отправить конкретному пользователю</button>
                                        </form>  
                                           
                                           
                                </div>     
                                                     
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">
                                <h2>Статус рассылки</h2>
                                {% if answer %}
                                {%for email,message in answer.items() %}
                                {% if message==None %}
                                <div class="row bg-success">Письмо на {{ email }} отправлено без ошибок</div>
                                {% else %}
                                <div class="row bg-danger">Письмо на {{ email }} отправлено с ошибкой {{message}}</div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                        </div>
                        <div class="col-lg-5">
                                <div class="row"><h2>Список пользователей</h2></div>
                                {% if users %}
                                <table class="row table table-striped">
                                        <thead>
                                                <tr>
                                                        <th>Полное имя</th>
                                                        <th>Адрес почты</th>
                                                        <th>Регион</th>
                                                        <th>Группа</th>
                                                </tr>
                                                
                                        </thead>
                                        <tbody>
                                                {% for user in users %}
                                                <tr>
                                                        <td>{{user.second_name +" "+user.first_name + " " + user.patronymic}}</td>
                                                        <td>{{user.email}}</td>
                                                        <td>{{user.address}}</td>
                                                        <td>Взрослый</td>
                                                </tr>
                                                {% endfor %}
                                        </tbody>
                                </table>
                                {% endif %}
                        </div>
                </div>
        </body>
        
</html>
