<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
                <!-- jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
                <!-- Latest compiled JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

                <meta name="viewport" content="width=device-width, initial-scale=1">
        
        </head>
        <body>
                <div class="row">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-1">
                                <form action="/">
                                        <button type="submit" class="btn btn-primary btn-block">Главная</button>
                                </form>
                                
                        </div>
                        <div class="col-lg-2">
                                <form action="/admin">
                                        <button type="submit" class="btn btn-primary btn-block">Панель управления</button>
                                </form>
                        </div>
                </div>
                <div class="row jumbotron text-center">
                        <h1>Личный кабинет.</h1> 
                </div>
                <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3 ">
                                <div class="row"><h2>Данные пользователя</h2></div>
                                <div class="row">
                                        <ul class="list-group">
                                                <li class="list-group-item">ФИО: {{user.first_name}}</li>
                                                <li class="list-group-item">Дата {{user.birthday.date()}}</li>
                                                <li class="list-group-item">Почта: {{user.email}}</li>
                                                <li class="list-group-item">Адрес: {{user.address}}</li>
                                                {% if user.retiree == 1 %}
                                                <li class="list-group-item">Группа: Пенсионер</li>
                                                {% else %}
                                                <li class="list-group-item">Группа: Взрослый</li>
                                                {% endif %}
                                        </ul>
                                        
                                        
                                </div>    
                                                     
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5"><h2>Расписание</h2></div>
                </div>
        </body>
        
</html>
